<p id="notice"><%= notice %></p>


 
<h1><%= @student.name %>, <%= @student.sign %></h1>


<p><%= @student.allergies %></p>

<div class="btn-group">
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>