<h1>CURRENT PETS</h1>
<p> Neither students nor teachers of NEET Daytime Academy are required or encouraged to care for pets during their <br>
  time here.  Nevertheless, we share our space with a revolving group of non-human entities, most of which wander in <br> through open doors, windows, or other openings in the structure, and lack the will or intelligence to escape. </p>


  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
        <h2><%= pet.name %></h2>
        <p><%= pet.description %></p>

        <div class="btn-group">
        <%= link_to 'Show', pet, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-default" %>
        <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
      
    </div>
    </div>
    </div>
  </div>

    <% end %>
  </div>
 

<br>

<%= link_to 'New Pet', new_pet_path %>
